/* --- about --- */
.about {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
}

.about .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    background-image: url("/static/assets/background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.about .heading h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
}

.brand-description {
    color: black;
    font-size: large;
    font-weight: 500;
    text-align: center;
    padding: 0 15% 2rem;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 6rem 2rem;
}

.val-card {
    border: 2px solid black;
    border-radius: 25px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: 0.2s ease;
    cursor: pointer;
}

.val-card:hover {
    background-color: black;
    color: white;
}

.val-card i {
    font-size: 1.5rem;
}

.val-card h3 {
    font-size: 1rem;
    font-weight: 600;
}

.val-card p {
    font-size: 0.85rem;
    font-weight: 400;
    color: black;
    opacity: 0.9;
    line-height: 1.7;
    padding: 0;
    text-align: left;
}

.val-card:hover p {
    color: white;
}

.social-section,
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    padding-bottom: 1.5rem;
}

.social-icons,
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2rem;
}

.about .btn {
    font-size: 1.2rem;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .btn:hover {
    color: white;
    background-color: black;
}

@media (min-width: 421px) and (max-width: 768px) {
    .about .heading h1 { font-size: 2.2rem; }

    h2 { font-size: 2.2rem; }

    .brand-description {
        font-size: medium;
        padding: 0 5% 2rem;
    }

    .values-grid {
        grid-template-columns: 1fr;
        padding: 0 1.5rem 2rem;
    }
}

@media (max-width: 420px) {
    .about .heading h1 { font-size: 2rem; }

    h2 { font-size: 2rem; }

    .brand-description {
        font-size: 0.95rem;
        padding: 0 1rem 2rem;
    }

    .values-grid {
        grid-template-columns: 1fr;
        padding: 0 1rem 2rem;
    }
}
