{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    About Vortex
{% endblock %}

{% block main %}
    <main class="about">
        <h1>
            About Vortex
        </h1>

        <p>
            Vortex is a modern clothing brand focused on simple, stylish,
            and comfortable designs. We aim to deliver high-quality pieces
            that fit your everyday lifestyle.
        </p>

        <h1>Get in touch</h1>

        <div class="social-icons">
            <a href="#" target="_blank" class="btn">
                <i class="ri-facebook-fill"></i>
            </a>

            <a href="#" target="_blank" class="btn">
                <i class="ri-instagram-line"></i>
            </a>

            <a href="https://wa.me/201226620552" target="_blank" class="btn">
                <i class="ri-whatsapp-line"></i>
            </a>
        </div>
    </main>
{% endblock %}