{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    VORTEX - About us
{% endblock %}

{% block main %}
    <main class="about">
        <div class="heading">
            <h1>ABOUT US</h1>
        </div>

        <h2>Who we are</h2>
        <p class="brand-description">
            Vortex is a modern clothing brand focused on simple, stylish, and comfortable designs.<br>
            We aim to deliver high-quality pieces that fit your everyday lifestyle.
        </p>

        <div class="values-section">
            <h2>Our DNA</h2>

            <div class="values-grid">
                <div class="val-card">
                    <i class="fa-regular fa-star"></i>
                    <h3>Quality</h3>
                    <p>Only premium fabrics that look good and last long.</p>
                </div>

                <div class="val-card">
                    <i class="fa-solid fa-bolt"></i>
                    <h3>Style</h3>
                    <p>Clean, bold designs made to turn heads anywhere you go.</p>
                </div>

                <div class="val-card">
                    <i class="fa-regular fa-heart"></i>
                    <h3>Comfort</h3>
                    <p>Crafted to feel as good as it looks, all day long.</p>
                </div>
            </div>
        </div>

        <div class="social-section">
            <div>
                <h2>Follow us</h2>
            </div>

            <div class="social-icons">
                <a href="#" target="_blank" class="btn">
                    <i class="ri-facebook-fill"></i>
                </a>

                <a href="#" target="_blank" class="btn">
                    <i class="ri-instagram-line"></i>
                </a>

                <a href="#" target="_blank" class="btn">
                        <i class="ri-tiktok-fill"></i>
                    </a>
            </div>
        </div>

        <div class="contact-section">
            <div>
                <h2>Get in touch</h2>
            </div>

            <div class="contact-icons">
                <a href="https://wa.me/#" target="_blank" class="btn">
                    <i class="ri-whatsapp-line"></i>
                </a>

                <a href="mailto:#" target="_blank" class="btn">
                    <i class="ri-mail-send-line"></i>
                </a>
            </div>
        </div>
    </main>
{% endblock %}