{% extends "layout.html" %}

{% block title %}
    About | Brand Dog
{% endblock %}

{% block main %}
    <main class="about">
        <h1>
            About Brand <span>Dog</span>
        </h1>

        <p>
            Brand Dog is a modern clothing brand focused on simple, stylish,
            and comfortable designs. We aim to deliver high-quality pieces
            that fit your everyday lifestyle.
        </p>

        <h1>Get in touch</h1>

        <div class="social-icons">
            <a href="#" target="_blank" class="btn">
                <i class="bi bi-facebook"></i>
            </a>

            <a href="#" target="_blank" class="btn">
                <i class="bi bi-instagram"></i>
            </a>

            <a href="https://wa.me/201226620552" target="_blank" class="btn">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </main>
{% endblock %}