{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/collection.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/collection.js') }}"></script>
{% endblock %}

{% block title %}
    VORTEX - COLLECTION
{% endblock %}

{% block main %} 
    {% if products %}
        <main class="collection">
            <div class="heading">
                <h1>COLLECTION</h1>
            </div>

            <div class="collection-grid">
                {% for product in products %}
                <div class="card">
                    <a href="{{ url_for('variant', id=product.id) }}">
                        <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
                    </a>

                    <div>
                        <div class="price">
                            <span class="before">{{ (product.price + 100) | int }}</span>
                            <span class="after">{{ product.price | int }} E£</span>
                        </div>

                        <div class="card-btn">
                            <form action="/add_to_cart" method="POST" data-ajax-add-to-cart="true">
                                <input type="hidden" name="variant_id" value="{{ product.id }}">
                                <input type="hidden" name="size" value="L">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="source" value="collection">

                                <button class="btn add-to-cart" type="submit" name="action" value="cart">Add to Cart</button>
                            </form>

                            <a href="{{ url_for('variant', id=product.id) }}" class="btn arrow"><i class="ri-arrow-right-long-line"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="pages-nav">

                {% if page > 1 %}
                <a href="{{ url_for('collection', page=page-1, fit=fit) }}" class="btn">Previous Page</a>
                {% endif %}

                {% if page < total_pages %}
                <a href="{{ url_for('collection', page=page+1, fit=fit) }}" class="btn">Next Page</a>
                {% endif %}

            </div>
        </main>
    {% else %}
        <main class="empty-state">
            <div class="heading">
                <h1>ERROR</h1>
            </div>

            <div class="error-message">
                <p>No products found</p>
            </div>
        </main>
    {% endif %}
{% endblock %}
