{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    VORTEX
{% endblock %}

{% block main %}
    <main class="home">
        <div class="hero">
            <img src="{{ url_for('static', filename='assets/hero_image.jpg') }}" alt="Vortex Cover" class="cover-image">

            <img src="{{ url_for('static', filename='assets/logo_white.png') }}" alt="Vortex Logo" class="hero-logo">

            <h1>"NOT MADE FOR EVERYONE."</h1>
            
            <a class="btn" href="/collection">
                SHOP NOW<i class="ri-arrow-right-long-line"></i>
            </a>
        </div>

        <div class="categories">
            <div class="category-card">
                <a href="{{ url_for('collection', fit='boxy') }}">
                    <img src="{{ url_for('static', filename='assets/products/t_shirt_boxy/plain/white/1.webp') }}" alt="Box Fit" class="category-image">
                </a>

                <a href="{{ url_for('collection', fit='boxy') }}" class="btn">
                    BOX FIT<i class="ri-arrow-right-long-line"></i>
                </a>
            </div>

            <div class="category-card">
                <a href="{{ url_for('collection', fit='relaxed') }}">
                    <img src="{{ url_for('static', filename='assets/products/t_shirt_relaxed/plain/mint_green/1.webp') }}" alt="Relaxed Fit" class="category-image">
                </a>

                <a href="{{ url_for('collection', fit='relaxed') }}" class="btn">
                    RELAXED FIT<i class="ri-arrow-right-long-line"></i>
                </a>
            </div>
        </div>
    </main>
{% endblock %}
