{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Vortex
{% endblock %}

{% block main %}
    <main class="home">
        <div class="home-content">
            <h1>VORTEX</h1>

            <p>
                NOT MADE FOR EVETY ONE.
            </p>
        </div>

        <a class="btn" href="/collection">
            SHOP NOW <i class="ri-arrow-right-line"></i>
        </a>
    </main>
{% endblock %}
