<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.1/fonts/remixicon.css" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        {% block css %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>
        
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Vortex Logo" class="logo">
                </a>
            </div>

            <div class="nav-links">
                <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">
                    Home
                </a>

                <a href="/collection" class="nav-link {% if request.path == '/collection' %}active{% endif %}">
                    Collection
                </a>

                <a href="/about" class="nav-link {% if request.path == '/about' %}active{% endif %}">
                    About us
                </a>
            </div>

            <div class="nav-right">
                <div class="cart">
                    <a href="#">
                        <i class="ri-shopping-bag-line"></i>
                    </a>
                </div>
                
                <button class="hamburger" id="hamburger">
                    <i class="ri-menu-line"></i>
                </button>
            </div>
        </nav>

        <!-- main -->
        {% block main %}{% endblock %}

        <footer class="footer">
            <p class="footer-tagline">"NOT MADE FOR EVERYONE."</p>

            <div class="social-links">
                <a href="#" target="_blank" class="footer-btn">
                    <i class="ri-facebook-fill"></i>
                </a>

                <a href="#" target="_blank" class="footer-btn">
                    <i class="ri-instagram-line"></i>
                </a>

                <a href="#" target="_blank" class="footer-btn">
                    <i class="ri-tiktok-fill"></i>
                </a>
            </div>

            <p class="footer-contact-text">
                WhatsApp: <a href="https://wa.me/201234567890">+20 123 456 7890</a>
            </p>

            <p class="footer-copy"><i class="ri-copyright-line"></i> 2026 VORTEX. All rights reserved.</p>
        </footer>

        <script src="{{ url_for('static', filename='js/hamburger.js') }}"></script>

    </body>

</html>
